<div class="w-full flex justify-center mt-1 mb-4">
  <ul class="flex  space-x-6">
    <li>
      <a routerLink="/home">All</a>
    </li>
    @for(category of categoryList(); track category.id){
      <li>
        <a  routerLink="/home" [queryParams]="{category_id: category.id}">{{category.name}}</a>
      </li>
    }
  </ul>
</div>
<div class="list-products-container w-[90%] my-0 mx-auto gap-2 z-40">
  @for (product of productList(); track product; let id = $index) {
    <app-product
    [product]= "product"
    (addToCard)= "addToCardHandler($event)"/>
  }@empty {
    <div class="col-span-3">
      <h1>No hay productos</h1>
    </div>
  }
</div>

