<section *ngIf="!isLoading()">
  <div class="my-0 mx-auto flex justify-center mt-1 mb-4">
    <div class="w-auto flex flex-col items-center justify-center">
      <ul class="flex  space-x-6">
        <li>
          <a routerLink="/home" routerLinkActive="bg-teal-400" [routerLinkActiveOptions]="{ exact: true }"
           class="p-2 py-[4.5px] rounded-lg font-medium hover:bg-gray-400">All</a>
        </li>
        @for(category of categoryList(); track category.id){
          <li>
            <a  routerLink="/home" routerLinkActive="bg-teal-400" [routerLinkActiveOptions]="{ exact: true }" 
            [queryParams]="{category_id: category.id}" class="p-2 py-[4.5px] rounded-lg font-medium hover:bg-gray-400">
            {{category.name}}</a>
          </li>
        }
      </ul>
      <hr class="w-full mt-2 mb-2 border-1 border-gray-300">
    </div>
  </div>
  <div class="w-[90%] my-0 mx-auto gap-2 z-40" [class.list-products-container]="!noProducts()">
    @for (product of productList(); track product; let id = $index) {
      <app-product
      [product]= "product"
      (addToCard)= "addToCardHandler($event)"/>
    }@empty {
      <div class="w-full flex justify-center">
        <h2 class="text-xl font-medium text-gray-400">There is not products</h2>
      </div>
    }
  </div>
</section>
<section class="w-[95%] my-0 mx-auto mt-4" *ngIf="isLoading()">
  <div class="list-products-container gap-2 animate--skeleton">
    <div class="w-full h-[370px] mb-3 rounded-lg border border-gray-200 shadow-md
      bg-gray-400">
    </div>
    <div class="w-full h-[370px] mb-3 rounded-lg border border-gray-200 shadow-md
      bg-gray-400">
    </div>
    <div class="w-full h-[370px] mb-3 rounded-lg border border-gray-200 shadow-md
      bg-gray-400">
    </div>
    <div class="w-full h-[370px] mb-3 rounded-lg border border-gray-200 shadow-md
      bg-gray-400">
    </div>
  </div>
</section>

