<nav class="bg-teal-500">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2 px-4"
    >
      <div class="flex items-center space-x-8">
        <a href="https://flowbite.com/" class="flex items-center ">
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-6 mr-3"
            alt="Flowbite Logo"
          />
          <span class="self-center text-xl font-semibold whitespace-nowrap"
            >Flowbite</span
          >
        </a>
        <ul class="flex space-x-6">
          <li>
            <a
              href="#"
              class="block underline hover:underline"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block hover:underline"
              >About</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block hover:underline"
              >Services</a
            >
          </li>
        </ul>
      </div>
      <div class="flex items-center relative">
        <div class="absolute flex items-center justify-center top-0 right-[-5px]
         w-[18px] h-[18px] bg-gray-600 rounded-full">
          <span class="m-0 mb-0.5 p-0 text-sm text-white">{{cartCount()}}</span>  
        </div>
        <button class="cursor-pointer bg-teal-600 rounded-full p-2 hover:bg-teal-700" (click)="toggleSidebarHandler()">
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            />
          </svg>
        </button>
      </div>
    </div>
  </nav>
  
  <!-- Sidebar Right-->
  <div
  class="fixed flex flex-col border-l-2 border-teal-900 shadow-md top-0 right-0 z-40 w-78 h-screen overflow-y-auto
   transition-transform bg-teal-600" [class.translate-x-full]="!toggleSidebar()"
>
    <!-- Encabezado -->
    <div class="w-full p-2 border-b border-teal-900 mb-2 flex items-center justify-between gap-2 bg-teal-500">
      <p class="text-xl font-bold text-teal-900">Carrito de compras</p>
      <button class="cursor-pointer rounded-full bg-teal-700 p-2 hover:bg-teal-800" (click)="toggleSidebarHandler()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <!-- Lista de productos -->
    <div class="flex flex-col w-full p-2">
      @for (product of cartList(); track product.id) { 
        <div class="mb-2 px-3 py-3 rounded-lg border bg-teal-500">
          <p class="mb-3 text-center text-teal-900 font-bold truncate">{{product.title}}</p>
          <div class="flex justify-between items-center">
            <div class="flex items-center space-x-1">
              <img  [src]="product.image" alt="product.title" class="w-[50px] h-[50px] rounded-lg border-[1px]
               border-teal-900 shadow-lg truncate">
              <span class="w-[18px] mr-1 text-teal-900 font-semibold">x{{product.quantity}}</span>
              <button  class="flex justify-center items-center shrink-0 cursor-pointer w-[25px] h-[25px] pb-1 bg-teal-700
               rounded-lg text-xl text-teal-900
               font-bold hover:bg-teal-800" (click)="increaseQuantityHandler(product.id)">+</button>
              <button *ngIf="product.quantity >= 2" class="flex justify-center items-center cursor-pointer w-[25px]
                 h-[25px] pb-1 bg-teal-700 rounded-lg text-xl text-teal-900
               font-bold hover:bg-teal-800" (click)="decreaseQuantityHandler(product.id)">-</button>
             </div>
            <div class="flex items-center gap-2">
              <p class="text-teal-900 font-bold">$<span class="text-teal-900 font-semibold">{{product.quantityPrice}}</span></p>  
              <button class="cursor-pointer mt-[2px]" (click)="removeProductHandler(product.id)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  class="w-4 h-4 text-teal-800 hover:text-teal-900"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      }@empty {
        <p class="text-gray-700 text-center">No hay productos en el carrito</p>
      }
      <p class="text-gray-800 text-center">Total: {{total() | currency}}</p>
    </div>
    <!-- Botón tramitar compra -->
    <button class="
    w-[95%] my-auto mx-auto mb-2 p-3 rounded-lg bg-teal-700 hover:bg-teal-800
     text-lg text-white font-bold cursor-pointer">
      Tramitar compra
    </button>

</div>
  
